.mcmw-hamburger-menu {
    position: relative;
}
.mcmw-toggle {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    background: #333;
    color: #fff;
    width: fit-content;
}
.mcmw-dropdown {
    display: none;
    background: #f9f9f9;
    padding: 10px;
}
.mcmw-dropdown.open {
    display: block;
}
.mcmw-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mcmw-menu li {
    padding: 5px 0;
}
.mcmw-menu li ul {
    padding-left: 20px;
}
